.header-contact-links { 
    border-bottom: 1px solid returnMap($colors, light-gray-border-color);
    > .wrapper {
        padding: 6px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-contact-us-info {
    display: flex;
    flex: 1;
    &__item {
        color: returnMap($colors, gray-color);
        &::after {
            content: "|";
            margin: 0 10px;
        }
        &:last-child::after {
            content: unset;
            margin: unset;
        }
        &:first-child {
            > a::before { content: "\f879"; }
        }
        &:last-child {
            > a::before { content: "\f0e0"; }
        }
    }
    &__link {
        display: inline-flex;
        align-items: center;
        color: returnMap($colors, gray-color);
        font-size: 12px;
        transition: color 1s ease-in-out;
        &:hover { color: returnMap($colors, green-color); }
        &::before {
            @include fontAwesome(solid);
            margin-right: 5px;
            color: returnMap($colors, green-color);
            font-size: 12px;
        }
    }
}

.header-social-icons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    column-gap: 4.38%;
    &__link {
        color: returnMap($colors, darker-gray-color);
        font-size: 0;
        transition: color 1s ease-in-out;
        &:hover { color: returnMap($colors, green-color); }
        &::before {
            @include fontAwesome(brands);
            font-size: 12px;
        }
        &[title="Facebook"]::before { content: "\f39e"; }
        &[title="Twitter"]::before { content: "\f099"; }
        &[title="Dribbble"]::before { content: "\f17d"; }
        &[title="Instagram"]::before { content: "\f16d"; }
    }
}

.navigation {
    padding: 10px 0;
    display: flex;
    align-items: center;
    > * {
        margin-right: 2.74%;
        &:last-child { margin-right: 0; }
    }
    > button {
        @extend %common-button-style;
        &:hover { cursor: pointer; }
    }
}

.logo {
    > a {
        color: returnMap($colors, green-color);
        font-size: 16px;
        font-weight: bold;
        text-transform: capitalize;
        > span { color: returnMap($colors, darkest-gray-color); }
    }
}

.search-form {
    > div {
        display: flex;
        > * {
            padding: 10px;
            display: inline-block;
            font-size: 14px;
        }
        > span {
            border: 1px solid returnMap($colors, light-gray-border-color);
            border-right: none;
            font-size: 0;
            &::before {
                content: "\f002";
                color: returnMap($colors, green-color);
                font-size: 14px;
                @include fontAwesome(solid);
            }
        }
        > input {
            border: 1px solid returnMap($colors, light-gray-border-color);
            color: returnMap($colors, darker-gray-color);
            &:focus {
                border: 1px solid returnMap($colors, green-color);
            }
        }
    }
}

.nav {
    flex-grow: 1;
    &__list {
        display: flex;
        justify-content: flex-end;
    }
    &__item {
        margin-right: 5%;
        &:last-child { margin-right: 0; }
    }
    &__link {
        color: returnMap($colors, gray-color);
        font-size: 14px;
        text-transform: capitalize;
        transition: color 1s ease-in-out;
        &:hover { color: returnMap($colors, green-color); }
        &.selected { color: returnMap($colors, green-color); }
    }
}