* { box-sizing: border-box; }
body { font-family: $fontFamily; }

a {
    color: unset;
    text-decoration: none;
}

figure {
    > img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}

.wrapper {
    max-width: 1153px;
    width: 60.04%;
    margin: 0 auto;
}

.form-wrapper {
    max-width: 727px;
    width: 37.86%;
    margin: 0 auto;
}

%common-button-style {
    padding: 10px 2.19%;
    border: unset;
    border-radius: 3px;
    background: returnMap($colors, green-color);;
    color: returnMap($colors, white-color);
    font-size: 12px;
    text-transform: capitalize;
    transition: background 1s ease-in-out;
    &:hover { background: returnMap($colors, pink-color); }
}