$fontFamily: Arial, Helvetica, sans-serif;

$colors: (
    green-color: #3ed9a5,
    gray-color: #a1aaa7,
    darker-gray-color: #9d94a0,
    darkest-gray-color: #343531,
    white-color: #fff,
    light-gray-border-color: #dbdfdd,
    light-gray-background: #f5f9f6,
    footer-background: #2d3b38,
    footer-social-icons-background: #26212f,
    blue-color: #4e59fe,
    pink-color: #f73c85
);