/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

figure > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.wrapper {
  max-width: 1153px;
  width: 60.04%;
  margin: 0 auto;
}

.form-wrapper {
  max-width: 727px;
  width: 37.86%;
  margin: 0 auto;
}

.other-wrapper {
  max-width: 1019px;
  width: 53.06%;
  margin: 0 auto;
}

.appointment-form button, .latest-news-button-container > a, .health-center-container > a, .banner-content > a, .navigation > button {
  padding: 10px 2.19%;
  border: unset;
  border-radius: 3px;
  display: inline-block;
  background: #3ed9a5;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  transition: background 1s ease-in-out;
}
.appointment-form button:hover, .latest-news-button-container > a:hover, .health-center-container > a:hover, .banner-content > a:hover, .navigation > button:hover {
  background: #f73c85;
}

.make-an-appointment h3, .latest-news h3, .our-doctors h3, .health-center-container > h3 {
  margin-bottom: 60px;
  color: #343531;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
}

.back-to-top-button {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  display: flex;
  position: fixed;
  z-index: 2;
  right: 20px;
  bottom: 15px;
  background: #a1aaa7;
  color: #343531;
  font-size: 0;
  justify-content: center;
  align-items: center;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}
.back-to-top-button:hover {
  background: #f73c85;
  color: #fff;
  cursor: pointer;
}
.back-to-top-button::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.header-contact-links {
  border-bottom: 1px solid #dbdfdd;
}
.header-contact-links > .wrapper {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact-us-info {
  display: flex;
  flex: 1;
}
.header-contact-us-info__item {
  color: #a1aaa7;
}
.header-contact-us-info__item::after {
  content: "|";
  margin: 0 10px;
}
.header-contact-us-info__item:last-child::after {
  content: unset;
  margin: unset;
}
.header-contact-us-info__item:first-child > a::before {
  content: "\f879";
}
.header-contact-us-info__item:last-child > a::before {
  content: "\f0e0";
}
.header-contact-us-info__link {
  display: inline-flex;
  align-items: center;
  color: #a1aaa7;
  font-size: 12px;
  transition: color 1s ease-in-out;
}
.header-contact-us-info__link:hover {
  color: #3ed9a5;
}
.header-contact-us-info__link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
  color: #3ed9a5;
  font-size: 12px;
}

.header-social-icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  column-gap: 4.38%;
}
.header-social-icons__link {
  color: #9d94a0;
  font-size: 0;
  transition: color 1s ease-in-out;
}
.header-social-icons__link:hover {
  color: #3ed9a5;
}
.header-social-icons__link::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 12px;
}
.header-social-icons__link[title=Facebook]::before {
  content: "\f39e";
}
.header-social-icons__link[title=Twitter]::before {
  content: "\f099";
}
.header-social-icons__link[title=Dribbble]::before {
  content: "\f17d";
}
.header-social-icons__link[title=Instagram]::before {
  content: "\f16d";
}

.navigation {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.navigation > * {
  margin-right: 2.74%;
}
.navigation > *:last-child {
  margin-right: 0;
}
.navigation > button:hover {
  cursor: pointer;
}

.logo > a {
  color: #3ed9a5;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.logo > a > span {
  color: #343531;
}

.search-form > div {
  display: flex;
}
.search-form > div > * {
  padding: 10px;
  display: inline-block;
  font-size: 14px;
}
.search-form > div > span {
  border: 1px solid #dbdfdd;
  border-right: none;
  font-size: 0;
}
.search-form > div > span::before {
  content: "\f002";
  color: #3ed9a5;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.search-form > div > input {
  border: 1px solid #dbdfdd;
  color: #9d94a0;
}
.search-form > div > input:focus {
  border: 1px solid #3ed9a5;
}

.nav {
  flex-grow: 1;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  margin-right: 5%;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #a1aaa7;
  font-size: 14px;
  text-transform: capitalize;
  transition: color 1s ease-in-out;
}
.nav__link:hover {
  color: #3ed9a5;
}
.nav__link.selected {
  color: #3ed9a5;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-content > span {
  margin-bottom: 15px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.banner-content > h2 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  text-transform: capitalize;
}
.banner-content > a {
  padding: 12px 7%;
}

.banner-features {
  width: 55.3%;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: -55px;
  transform: translate(-50%, 0);
}
.banner-features__item {
  padding: 15px;
  border-radius: 5px;
  margin-right: 12.5%;
  display: flex;
  background: #fff;
  text-transform: capitalize;
  flex-basis: 25%;
  gap: 11.9%;
}
.banner-features__item:first-child {
  text-transform: none;
}
.banner-features__item:last-child {
  margin-right: 0;
}
.banner-features__item > * {
  display: inline-block;
}
.banner-features__icon {
  flex-basis: 50px;
  flex-shrink: 0;
  height: 50px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  font-size: 0;
  align-items: center;
  justify-content: center;
}
.banner-features__icon::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 20px;
}
.banner-features__icon[title="Chat with a Doctor"] {
  background: #4e59fe;
}
.banner-features__icon[title="Chat with a Doctor"]::before {
  content: "\f086";
}
.banner-features__icon[title="One-Health Protection"] {
  background: #3ed9a5;
}
.banner-features__icon[title="One-Health Protection"]::before {
  content: "\f3ed";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.banner-features__icon[title="One-Health Pharmacy"] {
  background: #f73c85;
}
.banner-features__icon[title="One-Health Pharmacy"]::before {
  content: "\f291";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.banner-features__text {
  color: #343531;
  font-size: 16px;
  line-height: 20px;
}

.health-center {
  background: #f5f9f6;
}
.health-center > .wrapper {
  padding-top: 140px;
  display: flex;
}
.health-center > .wrapper > figure {
  padding: 0 8%;
  flex-grow: 1;
}
.health-center > .wrapper img {
  margin: 0 auto;
}

.health-center-container {
  padding: 80px 0 75px 0;
  flex-basis: 47.7%;
}
.health-center-container > h3 {
  margin-bottom: 10px;
  text-align: left;
}
.health-center-container > p {
  margin-bottom: 20px;
  color: #a1aaa7;
  font-size: 14px;
  line-height: 20px;
}
.health-center-container > a {
  padding: 12px 6%;
}

.our-doctors .other-wrapper {
  padding: 75px 0;
}
.doctors-list {
  padding-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
}
.doctors-list__item {
  margin-right: 13%;
  display: inline-block;
  flex: 1;
  flex-basis: 24.67%;
  box-shadow: 0 0 10px #9d94a0;
}
.doctors-list__item:last-child {
  margin-right: 0;
}
.doctors-list__item img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.doctors-list__item figure {
  margin-bottom: 20px;
}
.doctors-list__item h4 {
  padding: 0 7.61%;
  margin-bottom: 10px;
  color: #9d94a0;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.doctors-list__item span {
  padding: 0 7.61% 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
  color: #a1aaa7;
  font-size: 12px;
  text-transform: capitalize;
}

.doctors-list-control-buttons-container {
  text-align: center;
}

.doctors-list-control-buttons {
  padding: 10px 15px;
  border-radius: 25px;
  display: inline-flex;
  background: #3ed9a5;
}
.doctors-list-control-buttons__item {
  margin-right: 15px;
}
.doctors-list-control-buttons__item:last-child {
  margin-right: 0;
}
.doctors-list-control-buttons__button {
  color: #fff;
  font-size: 0;
  transition: color 1s ease-in-out;
}
.doctors-list-control-buttons__button:hover {
  cursor: pointer;
}
.doctors-list-control-buttons__button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}
.doctors-list-control-buttons__button[title=Previous]::before {
  content: "\f060";
}
.doctors-list-control-buttons__button[title=Next]::before {
  content: "\f061";
}
.doctors-list-control-buttons__button.disabled {
  color: #a1aaa7;
}
.doctors-list-control-buttons__button.disabled:hover {
  color: #dbdfdd;
  cursor: not-allowed;
}

.latest-news {
  background: #f5f9f6;
}
.latest-news > .wrapper {
  padding: 70px 0 65px 0;
}
.news-list {
  margin-bottom: 25px;
  display: flex;
}
.news-list__item {
  flex: 1;
  margin-right: 11.79%;
}
.news-list__item:last-child {
  margin-right: 0;
}
.news-list__item > figure > img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.news-content {
  padding: 15px 7.33%;
  border: 1px solid #dbdfdd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.news-content > h4 {
  margin-bottom: 10px;
  color: #9d94a0;
  font-size: 16px;
  line-height: 20px;
}

.news-info {
  display: flex;
  align-items: center;
}
.news-info > figure {
  margin-right: 2%;
  flex-shrink: 0;
  flex-basis: 10%;
}
.news-info > figure > img {
  border-radius: 50%;
}
.news-info > span {
  display: inline-block;
  color: #a1aaa7;
  font-size: 10px;
}
.news-info .reporter-name {
  margin-right: 5%;
  text-transform: capitalize;
}
.news-info .news-age {
  flex-grow: 1;
}
.news-info .news-age::before {
  content: "\f017";
  margin-right: 5%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
}

.latest-news-button-container {
  text-align: center;
}
.make-an-appointment > .form-wrapper {
  padding: 70px 0 65px 0;
}
.appointment-form input, .appointment-form textarea, .appointment-form select {
  padding: 10px;
  border: 1px solid #dbdfdd;
  border-radius: 3px;
  color: #a1aaa7;
  font-size: 14px;
}
.appointment-form select {
  width: 100%;
}
.appointment-form input[type=tel] {
  width: 100%;
}
.appointment-form button {
  padding: 10px 3.5%;
}
.appointment-form button:hover {
  cursor: pointer;
}

.name-and-email, .date-and-health {
  margin-bottom: 10px;
  display: flex;
}
.name-and-email > *, .date-and-health > * {
  flex-basis: 47.5%;
  margin-right: 5%;
  display: inline-block;
}
.name-and-email > *:last-child, .date-and-health > *:last-child {
  margin-right: 0;
}

.phone-number {
  margin-bottom: 10px;
}

.message {
  margin-bottom: 15px;
}
.message textarea {
  width: 100%;
  resize: vertical;
}

.one-health-application {
  position: relative;
}

.one-health-application-links {
  width: 38%;
  position: absolute;
  top: 27.97%;
  left: 40.55%;
}
.one-health-application-links > h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 32px;
  line-height: 38px;
}

.app-links {
  display: flex;
}
.app-links__item {
  margin-right: 10px;
  flex-basis: 29.21%;
}
.app-links__item:first-child .store-icon::before {
  content: "\f3ab";
}
.app-links__item:first-child .app-message {
  text-transform: uppercase;
}
.app-links__item:last-child {
  margin-right: 0;
}
.app-links__item:last-child .store-icon::before {
  content: "\f179";
}
.app-links__link {
  padding: 6px 10px;
  border: 1px solid #dbdfdd;
  border-radius: 3px;
  display: flex;
  background: #000;
  gap: 7px;
  align-items: center;
  transition: background 1s ease-in-out;
}
.app-links__link:hover {
  background: #f73c85;
}
.app-links__link .store-icon {
  color: #fff;
  font-size: 0;
}
.app-links__link .store-icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 30px;
}
.app-links__link .app-message {
  margin-bottom: 5px;
  display: block;
  color: #f5f9f6;
  font-size: 10px;
}
.app-links__link .os-name {
  display: block;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}

/*# sourceMappingURL=styles.css.map */
