/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

figure > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.wrapper {
  max-width: 1153px;
  width: 60.04%;
  margin: 0 auto;
}

.form-wrapper {
  max-width: 727px;
  width: 37.86%;
  margin: 0 auto;
}

.navigation > button {
  padding: 10px 2.19%;
  border: unset;
  border-radius: 3px;
  background: #3ed9a5;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  transition: background 1s ease-in-out;
}
.navigation > button:hover {
  background: #f73c85;
}

.header-contact-links {
  border-bottom: 1px solid #dbdfdd;
}
.header-contact-links > .wrapper {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact-us-info {
  display: flex;
  flex: 1;
}
.header-contact-us-info__item {
  color: #a1aaa7;
}
.header-contact-us-info__item::after {
  content: "|";
  margin: 0 10px;
}
.header-contact-us-info__item:last-child::after {
  content: unset;
  margin: unset;
}
.header-contact-us-info__item:first-child > a::before {
  content: "\f879";
}
.header-contact-us-info__item:last-child > a::before {
  content: "\f0e0";
}
.header-contact-us-info__link {
  display: inline-flex;
  align-items: center;
  color: #a1aaa7;
  font-size: 12px;
  transition: color 1s ease-in-out;
}
.header-contact-us-info__link:hover {
  color: #3ed9a5;
}
.header-contact-us-info__link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
  color: #3ed9a5;
  font-size: 12px;
}

.header-social-icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  column-gap: 4.38%;
}
.header-social-icons__link {
  color: #9d94a0;
  font-size: 0;
  transition: color 1s ease-in-out;
}
.header-social-icons__link:hover {
  color: #3ed9a5;
}
.header-social-icons__link::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 12px;
}
.header-social-icons__link[title=Facebook]::before {
  content: "\f39e";
}
.header-social-icons__link[title=Twitter]::before {
  content: "\f099";
}
.header-social-icons__link[title=Dribbble]::before {
  content: "\f17d";
}
.header-social-icons__link[title=Instagram]::before {
  content: "\f16d";
}

.navigation {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.navigation > * {
  margin-right: 2.74%;
}
.navigation > *:last-child {
  margin-right: 0;
}
.navigation > button:hover {
  cursor: pointer;
}

.logo > a {
  color: #3ed9a5;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.logo > a > span {
  color: #343531;
}

.search-form > div {
  display: flex;
}
.search-form > div > * {
  padding: 10px;
  display: inline-block;
  font-size: 14px;
}
.search-form > div > span {
  border: 1px solid #dbdfdd;
  border-right: none;
  font-size: 0;
}
.search-form > div > span::before {
  content: "\f002";
  color: #3ed9a5;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.search-form > div > input {
  border: 1px solid #dbdfdd;
  color: #9d94a0;
}
.search-form > div > input:focus {
  border: 1px solid #3ed9a5;
}

.nav {
  flex-grow: 1;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  margin-right: 5%;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #a1aaa7;
  font-size: 14px;
  text-transform: capitalize;
  transition: color 1s ease-in-out;
}
.nav__link:hover {
  color: #3ed9a5;
}
.nav__link.selected {
  color: #3ed9a5;
}

/*# sourceMappingURL=styles.css.map */
